
.empty-cart-message {
    font-size: 24px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}

.cart-items-list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

.cart-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-button {
    padding: 5px 10px;
    margin-left: 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-button:hover {
    background-color: grey;
}


@media screen and (max-width: 768px) {
    .cart-items-list {
        padding: 15px;
        width: 90%;
    }

    .cart-item {
        font-size: 14px;
    }

    .remove-button {
        padding: 4px 8px;
        margin-left: 20px;
        font-size: 12px;
    }
}


@media screen and (max-width: 480px) {
    .empty-cart-message {
        font-size: 20px;
    }

    .cart-items-list {
        padding: 10px;
        width: 95%;
    }

    .cart-item {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-button {
        padding: 5px 10px;
        margin-left: 0;
        margin-top: 10px;
        
        font-size: 14px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    nav h1 {
        font-size: 18px;

    }

    nav button {
        margin-top: 1px;
        font-size: 10px;
        font-weight: bold;
        margin-left: 10px;
    }
}
